@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* Shared styles */
  .flex{
    display: flex;
  }
  .dark-2{
    color: #424242;
  }
  .dark-3{
    color: #727272;
  }
  .text-primary{
    color: #FF900E;
  }
  .btn-primary{
    background-color: #FF900E;
    color: #FFFF;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  /* nav styles */
  .nav-bar{
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar h3{
    font-weight: 700;
    font-size: 2rem;
  }
.list-item{
  list-style: none;
  margin-right: 30px;
}
.list-links{
  text-decoration: none;
}
.light-gray{
  background-color: rgba(255, 144, 14, 0.1);
}

.nav-bar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner content */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700px;
  font-size: 4rem;
}
.banner-description{
  font-size: 1rem;
}
.banner-image{
  width: 100%;
}

/* Main styles */
.team{
  align-items: center;
  gap: 20px;
}
main>section{
  margin-top: 130px;
}
.team-images-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our-features{
  margin-left: 130px;
  max-width: 530px;
}

.quick-list{
  font-weight: 500;
}
.feature-description{
  font-size: 1rem;
  line-height: 26px;
}
/* Fetures style */

.features-title{
  border-left:5px solid #FF900E;
  padding-left: 20px;
}
.features-love{
  gap: 100px;
}
.card-design{
  padding: 30px 36px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.card-design>h1{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}
.card-design>p{
  font-size: 1rem;
}
#experience-badge{
  padding: 45px 42px;
  background-color: #FF900E;
  border-radius: 5px;
  border: none;
  margin-left: -90px;
  margin-top: -75px;
}
.experinence-year{
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}
.experience{
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffff;
}

/* Responsive style */
@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-list,
  .team,
  .features-love{
    flex-direction: column ;
  }
  .team-images-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    margin-left: 20px;
  }
  .features-image>img{
    width: 100%;
  }
  #experience-badge{
    margin: 0px auto;
  }
}

/* Medium size devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .team,
  .features-love{
    flex-direction: column ;
  }
  .our-features{
    margin-left: 20px auto;
  }
  .features-image>img{
    width: 100%;
  }
}
